@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
}

*{
    color: black!important;
    font-family: Georgia Serif "Serif AppleMyungjo";
}

body{
    background-color: rgb(250, 250, 248);
    background-image: url("/img/bg1.png");
}

@layer components {
    .site-margin-bottom{
        @apply mb-10
    }
    .site-margin-top{
        @apply mt-10
    }
}